/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/VerkkokauppaSpring/.nb-gradle/
/VerkkokauppaSpring/build/
/Tennis/.nb-gradle/
/IntJoukkoSovellus/.nb-gradle/
/IntJoukkoSovellus/build/
/Tennis/build/
/viikko6/Laskin/.nb-gradle/
/viikko6/Laskin/build/
/viikko6/QueryLanguage/.nb-gradle/
/viikko6/QueryLanguage/build/